@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }
@import "fonts";
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #E3DBCB;
    font-family:'oldnewspapertypes';
    color: #554535;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
    
}
.header{
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.title{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    &__item{
        font-size: 20px;
        flex-grow: 1;
        flex-basis: 80px;
        &:nth-last-of-type(2){
            font-family: 'dk courant';
            font-size: 90px;
            flex-grow: 8;
            text-align: center;
        }
    }
    &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #554535;
        top:-40px;
    }
}
.title__name-page{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    position: relative;
    font-size: 17px;
    margin-bottom: 50px;
    &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #554535;
        top: -10px;
    }
    &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #554535;
        bottom:-10px;
    }
}

.news__wrapper{
    display: flex;
}
.news_main{
    width: 50%;
    padding-right: 20px; 
}
.news_main_title{
    width: 680px;
}

.news {
}

.news__title{
    font-family:'handshoptypography';
    text-transform: uppercase;
    font-size: 85px;
    text-align: center;
    margin-bottom: 10px;
    
}
.news__subtitle {
    font-weight: bold;
    font-size:30px;
}
.news__text {
    font-size: 18px;
    p{
        margin-bottom: 15px;
        width: 100%;
    }
}
.news_image{
    width: 450px;
    float: left;
    &:nth-child(2){
        width: 300px;
    }
    img{
        width: 100%;
        padding-right: 20px;
    }
}
.news_additional{
    display: flex;
}
.news_additional__item{
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    
    .news_image{
        width: 100%;
        margin-bottom: 10px;
        img{
            display: block;
            width: 300px;
            margin: 0 auto;
        }
    }
    .news__subtitle{
        text-align: center;
        margin-bottom: 30px;
       
           
    }
}
.additional_title{
    font-family:oldnewspapertypes;
    font-size: 36px;
}
.border{
    position: relative;
    &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #554535;
        top: -5px;
        left: 0;
    }
    &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #554535;
        bottom:-10px;
        left: 0;
     }
}
.news_bar{
    .news__title{
        font-size: 50px;
    }
    .news__subtitle{
        font-size: 22px;
        position: relative;
        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #554535;
            top: -5px;
            left: 0;
        }
        &::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #554535;
            bottom:-10px;
            left: 0;
         }
    }
    .news__text{
        margin-bottom: 40px;
    }
}
.news_review{
    margin-bottom: 50px;
    .news__title{
        font-size: 57px;
        position: relative;
        margin-top: 60px;
        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: #554535;
            top: -25px;
            left: 0;
        }
        &::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #554535;
            bottom:148px;
            left: 0;
         }    
    }
    .news_image-star{
        width: 30px;
    }
    .news__subtitle{
        text-align: center;
        margin-bottom: 20px;
    }
    .news_image-camera{
        width: 240px;
        float: right;
        padding-left: 5px;
        padding-right: 20px;
    } 
}
.news_additional__item-review{
    .news__subtitle{
        background-color: #554535;
        color: #E3CEA1;
        padding:40px;
    }
}
.news_review_next{
    .news__subtitle{
        font-size: 30px;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 25px;
        padding-top: 10px;
        &::before{
            content:'';
            position: absolute;
            width: 41%;
            height: 3px;
            background-color: #554535;
            top: 0;
           
        }
        &::after{
            content: '';
            position: absolute;
            width: 41%;
            height: 3px;
            background-color: #554535;
            bottom: -12px;
            right: 27px;
         } 
       
    }
    .news__review_foto{
        float: left;
        padding-right: 20px;
        width: 350px;
    }
  
}
.additional__item_next{
    .news__title{
        font-family:'handshoptypography';
       font-size: 37px;
       margin-bottom: 0;
    }
    .news__subtitle{
        font-size: 35px;
        text-align: center;
        span{
            font-size: 20px;
            margin: 0;
            padding: 0;
            display: block;
            margin-bottom: 10px;
        }
    }
    img{
        width: 290px;
    }
}
.additional_news_bar_next{
    .news__subtitle{
        font-size: 34px;
    }
    .news_image-star{
        width: 30px;
    }
    .news__subtitle{
        position: relative;
        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: #554535;
            top:-90px;
           
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #554535;
            bottom: 123px;
            right: 27px;
         } 
    }
}

@media (max-width:1302px){
    .news_review_next{
        .news__review_foto{
            display: block;
           margin-left: auto;
           margin-right: auto;
           margin-bottom: 30px;
           float: none;
        }
        .news__subtitle{
            display: inline-block;
            &:before{
                width: 100%;
                left: 0;
            }
            &::after{
                width: 100%;
                left: 0;
            }
        }
    }
}
@media (max-width:1240px){
    .title{
        &__item{
            &:nth-last-of-type(2){
                font-size: 8vw;
            }
        }
    }
    .news_additional{
        flex-wrap: wrap;
        .news_additional__item{
            width: 100%;
            padding: 0;
        }
    }
    .news_main_title{
        width: 100%;
    }
    .news_main{
        width: initial;
    }
}
@media (max-width:900px){
    .title{
        flex-direction: column;
        text-align: center;
        
        &__item{
            flex-basis: initial;
            &:nth-last-of-type(2){
                font-size: 60px;
            }
        }
    }
    .title__name-page{
        flex-wrap: wrap;
        // text-align: center;
        .name-page__item{
           
          &:nth-of-type(2){
              order: 3;
          }
          &:nth-of-type(2){
            width: 100%;
            text-align: center;
        }
       } 
    }
    .news__wrapper{
        flex-wrap: wrap;
        .news_main{
            width: 100%;
            margin-bottom: 30px;
            padding-right: 0;
        }
    }
   
    
}
@media(max-width:680px){
    .news_review_next{
        .news__review_foto{
            all:initial;
            display: block;
           margin-left: auto;
           margin-right: auto;
           margin-bottom: 30px;
        }
        .news__subtitle{
            display: inline-block;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #554535;
                bottom: -12px;
              
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #554535;
                bottom: -12px;
                left: 0;
              
            }
        }
    }
    .news_main_title{
        font-size: 60px;
    } 
}
@media(max-width:520px){
    .news_review{
        .news__title{
            font-size: 35px;
            &::after{
                bottom: 97px;
            }
        }
        .news__subtitle{
            font-size: 19px;
            .news_image-star{
                width: 16px;
            }
        }
    }
    .additional_news_bar_next{
        .news__title{
            font-size: 35px;
          
        }
        .news__subtitle{
            font-size: 19px;
            &::after{
               top:-67px;
               height: 5px;
            }
            &::before{
              top:-60px;
              height: 2px;
            }
            .news_image-star{
                width: 16px;
            }
        }
    }
    .news_bar{
        img{
           max-width: 100%;
           padding-left: 10px;
           padding-right: 10px;
        }
    }
    .news_review_next{
        .news__review_foto{
            max-width: 100%;
        }
    }
    .news_main_title{
        font-size: 45px;
    } 
    .additional__item_next{
        .next__text{
            max-width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }
        
    }
}
@media (max-width:430px){
    .header{
        padding-top: 50px;
    }
    .name-page__item{
        width: 100%;
        text-align: center;
    }
    .news_main{
        .news_image{
            width: 100%;
            img{
                padding: 0;
            }
        }
    }
    .news_review{
        .news_image-camera{
            
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            float: none;
            
        }
    }
    .additional_title{
        font-size: 30px;
    }
    .additional_image{
        max-width: 260px;
    }
    
}
@media (max-width:340px){
    .news_review{
        .news__title
        &::after{
            bottom: 137px;
        }
    } 
}
