@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700);
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Arvo:700&display=swap');
/* font-family: 'Arvo', serif; */
body{
    font-family: 'Nunito', sans-serif;
    /* height: 2000px; */
 
}
header{
   background:url(../img/scaling-mountain.webp)no-repeat fixed ;
    background-size: cover;
   
}
p{
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
a{
  text-decoration: none;
  color: #000000;
  -moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				-webkit-user-select: none;
				user-select: none;
}
h1,h2{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
h1,h2{
  font-size: 37px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  -moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				-webkit-user-select: none;
				user-select: none;
}
h3,h4{
  font-size: 30px;
    margin: 20px 0;
    -moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				-webkit-user-select: none;
				user-select: none;
}
.top_h1{
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 51px;
  display: block;
  margin-bottom: 240px;
  -moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				-webkit-user-select: none;
				user-select: none;
}
.top_h1:hover{
  color: #778090;
}
.header{
    width: 100%;
    height: 100%;
  	/* margin: 0 auto; */
    background: rgba(97,131,186, 0.5);
    font-family: 'Nunito', sans-serif;
}
strong{
  font-weight: 900;
}
   /* ====on========animation_menu=========== */
 
.main{
    display: flex;
    height:500px;
    justify-content: center;
    align-items: center;
} 
/* =====on=====menu====================== */
.main_menu{
  display: flex;
  position: absolute;
}
.main_menu li{
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
border: none;
/* position: absolute; */
}
.main_menu a:hover{
  border-bottom: 4px solid #2C2F32;
}
/* =====off=====menu====================== */
.clear_off{
  display: none;
}
 /* ====off========animation_menu=========== */
/* =====on======scroll fixed menu======== */
.fixed{
  position: fixed;
  top:-20px;
  opacity: 0.97;
  background: #B0C1DC;
  width: 100%;
}
/* =====off======scroll fixed menu======== */
/* =======on ======icon_top======== */
.icon_top{
height: 100px;
background: skyblue;
display: flex;
align-items: center;
flex-wrap: wrap;
}
.icon_list{
width: 100%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.icon_list li{
width:130px;
text-align: center;
align-self: center;
}
.icon_list img{
  width: 40%;
  margin-bottom: 5px;
}
.icon_list p{
  text-align: center;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}
/* =======off ======icon_top======== */
/* ===on===section=product========= */
section{
  display: flex;
  justify-content: center;
 background: aliceblue;
}
/* =========new container========== */
.container_block{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.product_block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_block img{
  max-width: 100%;
  margin-bottom: 25px;
}
.button_block{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background:#01074B;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button_block:hover{
  background: #89CEEA;
}
.button_block:nth-child(3){
 background:#FB423F;
  
}
.button_block:nth-child(3):hover{
  background: #E8957C;
}
 
.container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}
.product_block p{
  text-indent: 1.5em; 
  font-size: 19px;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* ===== on=====blog.html============= */
.container_blog{
  justify-content: space-evenly;
}
.container_blog img{
border-top-right-radius: 10px;
border-top-left-radius: 10px; 
}
.container_item{
  width:360px;
  margin-bottom: 30px;
}
/* .container_item:hover{
opacity: 0.9;
} */
.desc_item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: lavender;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 
  height: 192px;
  padding-bottom: 20px;
}
.desc_item h2{
  /* width: 100%; */
  margin: 16px;
}
.desc_item a{
margin-bottom: 20px;
}
.desc_item{
  padding-bottom: 30px;
}
.blog{
  flex-wrap: wrap;
}
.blog_h1{
width: 100%;
}
.button_rm{
  border: 1px solid #757575;
  border-radius: 7px;
  padding: 5px;
  /* margin-bottom: 15px; */
  height: fit-content;
 font-style: italic;
  font-weight: 600;
  align-self: center;
}
.button_rm:hover{
  font-weight: bold;
  background: #E8957C;
}
.title{
  font-size: 18px;
  font-weight: 900;
  align-self: center;
}
.excerpt{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  align-self: center;
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
  font-weight: 600;
  /* height: 87px; */
  
}
.container_item img{
  height: 240px;
  width: 100%;
}
/* ===== off=====blog.html============= */
.product{
  display: flex;
  justify-content: center;
}
/* .proguct_item{
text-align: center;
} */
/* .proguct_item img{
margin-bottom: 60px;
width: 85%;
} */
/* .proguct_item img:nth-child(1){
  width: 100%;
} */
/* .proguct_item:nth-child(3) img{
  width: 100%;
} */
.p_icon{
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  line-height: normal;
}
/* .text p{
  width: 1200px;
  text-indent: 1.5em; 
  font-size: 19px;
  line-height: normal;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
} */
.text_image{
  float: right;
  margin: 15px;
  border-radius: 15px;
}
.text_image:nth-child(6){
  float: left;
  margin: 15px;
  border-radius: 15px;
}
.text_image:nth-child(13){
  float: left;
  margin: 15px;
  border-radius: 15px;
}
/* ---------button-------- */
/* .button{
  align-self: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
} */
/* .button a{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background:#01074B;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
} */
/* .color{
  background: #FB423F!important;
}
.color:hover{
  background: #E8957C!important;
} */
/* 
.button a:hover{
  background: #89CEEA;
  color: #fff;
} */
/* --------of button------------ */
/* ======text=========== */
/* .text{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} */
/* 
.text p{
  font-size: 19px;
  line-height: normal;
} */
.text_item .fa-check{
  color: green;
  font-size: 37px;
  margin-left: 17px;
  margin-right: 34px;
}
/* ===========sidebar=============== */
.sidebar{
  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
}
.sidebar_item{
  width: 100%;
  background: skyblue;
  margin-bottom: 40px;
  border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.sidebar_item img {
width: 150px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.sidebar_item a{
  display: flex;
  flex-wrap: wrap;
 
}
.sidebar_item a:hover{
opacity: 0.1;
}
.sidebar_item p{
  width:50%;
align-self: center;
 margin-left: 10px;
 font-weight: 600;
}
.img_width{
  width: 88px!important;
}
.blog_width{
  width: auto!important;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
/* ======================================= */
.text_content{
  margin-bottom: 40px;
}
.text_content_top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_content_top h2{
  margin-bottom: 35px;
}
.img_content{
  /* width: 700px; */
  width: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}
.non_standart{
  width: 320px;
}
.text_content_top p{
  width: 80%;
  margin-bottom: 20px;
  text-indent: 1.5em;
  font-size: 22px;
  line-height: 33px;
}
/* =========contact=========== */
.cont{
  display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    width: 80%;
    margin-left: 7%;
}
/* ================form===================== */
.conteiner_form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form_contact{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 30px;
}
.form_contact input{
display: block;
width: 100%;
height: 40px;
margin: 10px 0;
border: solid 1px rgba(0,0,0,.3);
padding-left: 10px
}
.conteiner_form textarea{
display: block;
width: 100%;
height: 200px;
margin: 10px 0;
border: solid 1px rgba(0,0,0,.3);
}
.conteiner_form button{
  display: block;
  width: 200px;
  height: 40px;
  border: none;
  background: #B2808B;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.conteiner_form button:hover{
  background: #A96F7D;
  color:black;
}
.cont li{
  background: aliceblue;
  padding: 20px;
  color: brown;
}
/* ===================maps========================= */
.map-responsive{
  overflow:hidden;
  padding-bottom:20.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
/* =============footer============== */
footer{
  background: rgba(97,131,186, 0.5);
  height: 300px;
  display: flex;
  justify-content: center;
  
}
.footer{
  display: flex;
  flex-wrap: wrap;
}
.footer_info{
  width: 33%;
}
.text_footer{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  color: #fff;
  display: block;
}
.text_footer:hover{
  color: #2A4C83;
}
.list{
  display: flex;
  justify-content: center;
}
.style{
 display: flex;
justify-content: center;
}
.list.style li{
  padding-left: 10px;
}
.list a{
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}
.list li{
  border-right: 1px solid #757575;
  padding-right: 13px;
  padding-left: 13px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
.list li:hover{
background: #2A4C83;
}
.list_content{
  font-size: 18px;
  width: 80%;
  margin-bottom: 20px;
  text-indent: 1.5em;
  font-size: 22px;
  line-height: 33px;
}
.list_content .fas{
  margin-right: 20px;
}
.social{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}
.social a{
  color: #fff;
}
.social .fab{
font-size: 40px;
}
.social .fab:hover{
  color: #2A4C83;
  cursor: pointer;
}
.chat{
  width: 33%;
}
.list a:hover{
  background: #2A4C83;
}
.list_footer{
  width: 100%;
}
.list_footer .list{
justify-content: center;
}
.list_footer p{
margin-bottom: 10px;
text-align: center;
}
/* =========img section=========== */
.box_img{
  width: 500px;
  height: auto;
  margin-bottom: 30px;
}
.box_img img{
  width: 100%;
  height: auto;
}
/* ===========clear============ */
.clear{
  font-size: 10px;
  color: #F0F9FF;
  display: block;
}
/* ========off========clear======== */
/* ==on=======foto-doctor======= */
.doctors{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.doctors_item{
  height:fit-content;
}
.doctor_p{
  width: 35%;
    margin-bottom: 20px;
    text-indent: 1.5em;
    font-size: 22px;
    line-height: 33px;
    padding: 20px;
    align-self: center;
}
/* ==off=======foto-doctor======= */
/* ========cookie============= */
.cookie{
  width: 50%;
}
.cookie p{
  text-indent: 1.5em;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 2em;
}
/* ========================= */
/* ======Media Queries========= */
@media screen and (max-width :1665px){
  .container{
    width: 87%;
  }
}
@media screen and (max-width :1440px){
 .img_content{
   width: 55%;
 }
  .prozac_width{
  width: 45%;
}
.doctor_p{
  width: 50%;
}
}
@media screen and (max-width :1300px){
  .container{
    width: 100%;
  }
  /* .text P{
    width: 100%;
  } */
  /* .container_zyban{
    padding: 30px;
  }
  .container_zyban img{
    width: 100%;
  } */
}
@media screen and (max-width :1250px){
/* .main{
  justify-content: flex-end;
  
} */
/* header{
  background-size: 607px;
} */
.list_footer{
  margin-top: 30px;
  margin-bottom: 40px;
}
.footer_info{
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}
footer{
  height: initial;
  
}
.footer{
  justify-content: center;
}
.text_footer{
  margin-top: initial;
}
section{
  flex-wrap: wrap;
}
.sidebar{
  width: 100%;
}
}
@media screen and (max-width :1100px){
  /* .product{
    margin-bottom: 60px;
  } */
  /* .button{
    margin-bottom: 0;
  } */
  /* .proguct_item{
    margin-right: 0;
    /* width: 60%; */
 
  
  /* .proguct_item img{
    width: 100%;
  } */
.icon_text{
  width: 50%;
}
/* .proguct_item img:nth-child(1) {
  width: 65%;
} */
}
@media screen and (max-width :1050px){
.icon_top{
  height: initial;
  padding-top: 15px;
  padding-bottom: 15px;
}
.icon_list li{
  width: 150px;
}
.icon_list img{
  width: 20%;
}
.icon_list p{
  margin-bottom: 15px;
}
.list_footer p{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
}
@media screen and (max-width :950px){
.p_icon{
  font-size: 1.6vw;
}
.icon_text img{
  width: 50px;
  height: 50px;
  margin-right: 16px;
}
.text_item .fa-check{
  margin-right: 12px;
}
}
@media screen and (max-width :780px){
  .img_content{
    width: 65%;
  }
}
@media screen and (max-width :750px){
  .product{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  /* .icon_top{
    margin-bottom: 15px;
  } */
  .icon_text{
    width: 73%;
  }
  .text_item{
    margin-bottom: 7px;
  }
  h1{
    margin-bottom: 15px;
  }
  /* .button{
    margin-top: 30px;
  } */
  /* .proguct_item{
    margin-right: 4%;
    width: 75%;
  } */
  .p_icon{
    font-size: 1.7vw;
  }
  /* .button{
    width: initial;
    margin-left: auto;
    margin-right: auto;
  } */
  .text_image{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .text_image:nth-child(6){
    float: initial;
    margin: initial;
    margin-bottom: 13px;
   
  }
  .text_image:nth-child(13){
    float: initial;
    margin: initial;
    margin-bottom: 13px;
  }
  .list_footer .list li:nth-child(4){
    border-right:none;
  }
  /* .proguct_item img {
    margin-bottom: 30px;
} */
 
  
}
@media screen and (max-width :680px){
.list{
  text-align: center;
}
.social{
  width: 90%;
  margin-bottom: 20px;
}
.chat{
  width: 90%;
}
.doctor_p{
  width: 80%;
}
.cookie{
  width: 80%;
}
}
@media screen and (max-width :620px){
  .top_h1{
    font-size: 7vw;
  }
}
@media screen and (max-width :550px){
  .main{
    /* justify-content: center; */
    /* justify-content: flex-end; */
    margin-right: initial;
    
  }
  .bg{
    display: none;
  }
 
 
  .header{
    background: rgba(97,131,186, 0.3);
  }
 
  .icon_list p{
    font-size: 12px;
  }
  
  .container{
    width: 90%;
  }
  .p_icon{
    font-size:2.5vw;
  }
  h1{
    font-size: 8vw;
  }
  /* .proguct_item{
    margin-bottom: 20px;
  } */
   .sidebar_item img{
     object-fit: cover;
      height:125px;
  }
  .main_menu{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .top_h1{
    align-self: baseline;
    margin-top: 50px;
    margin-bottom: initial;
  }
 
}
@media screen and (max-width :500px){
  .box_img{
    width: 98%;
  }
}
@media screen and (max-width :460px){
  .fixed .clear_on{
    display: none;
  }
  .fixed .clear_off{
    display: initial;
  }
  /* .proguct_item{
    width: 90%;
  
  } */
 
  .list { 
    flex-direction: column;
   
  }
  .list li{
    border-right: none;
    margin-bottom: 5px;
  }
  .text_footer{
    font-size: 9vw;
  }
 
}
@media screen and (max-width :420px){
  .text{
    width: 90%;
  }
}
@media screen and (max-width :404px){
  header{
   
    background-position-x: -111px;
   
  }
 
  .fixed{
    height: 30px;
  }
  
  .p_icon{
    font-size: 3.2vw;
  }
  /* .container_item img{
    height: initial;
  } */
  .sidebar_item img{
     
      height:125px;
  }
}
@media screen and (max-width :390px){
.desc_padding{
    padding-bottom: 50px;
  }
  .img_content{
    width: 96%;
  }
  .text_content_top p{
    font-size: 20px;
  }
  /* .proguct_item img {
    margin-bottom: 10px;
} */
}
@media screen and (max-width :380px){
  .sidebar{
    width: 90%;
    margin-left: auto;
  }
  .sidebar_item p{
    width: 41%;
  }
  .sidebar_item img{
      width:50%;
      /*height:auto;*/
      height:125px;
  }
}
@media screen and (max-width :370px){
.form_contact{
  width: 70%;
}
.cont{
  height: 250px;
}
.map-responsive{
  height: 200px;
}
}
@media screen and (max-width :350px){
  .desc_padding{
    padding-bottom:60px!important;
  }
}