@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 20px;
  
}
.container{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #E8E8E8;
  padding: 20px;

}
.header__block{
  display: flex;
  height: 400px;
}

.header__block__item{
  border:2px solid #747474;
flex-basis:146px;
background-color: rgb(187, 230, 219);
}

.header__block__item:nth-child(2){
  border:2px solid #747474;
  flex-grow: 1;
  background-color:#A0C1FF;
  text-align: center;
 
}
.header__block__item .text:nth-child(1){
  padding-left: 5px;
}


.header__block__item p,.block__item p,.section__block__item p{
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
 
.text{
  display: none;
}
.section__block{
display: flex;
height: 500px;
}
.section__block__item{
background-color: darksalmon;
border:2px solid #747474;
width: 100%;
}


.section__block__item-wrapper{
  display: flex;
}
.block__item{
  height: 100px;
}
.section__block__item .text_items:nth-child(1){
height:80%;
}
.section__block__item .text_items:nth-child(3){
  display: none;
}
.section__block__item .text_items_width{
  display: none;
}

.block__item:nth-child(1){
  background-color: darkseagreen;
  width: 60%;
}
.block__item:nth-child(2){
  background-color: darkviolet;
  width: 40.1%;
}
.block__item .block__text:nth-child(2){
  display: none;
}
.block__item:nth-child(2) .block__text:nth-child(2){
  display: none;
}

/* -----------@media------------------------ */


@media(max-width:1024px){
  .header__block__item:nth-child(3){
    display: none;
  }
}

@media(max-width:768px){
  .header__block{
    flex-wrap: wrap;
  }
  .header__block__item{
    width: 150px;
    flex-basis: auto;
  }
  .header__block__item:nth-child(3){
    display: block;
    width: 100%;
    flex-grow: 0;
  }
  .header__block__item .text:nth-child(1){
    display: none;
  }
  .text{
    display: block;
  }
}
@media(max-width:660px){
  .header__block__item:nth-child(1){
    width: 100%;
  }
  .section__block{
    flex-wrap: wrap;
  }
  .header__block__item .text_item:nth-child(1){
    display: none;
  }
  
  .section__block__item .text_items:nth-child(2){
    display:none;
  }
  .section__block__item .text_items_width{
    display: flex;
    height: 60%;
  }

}

@media(max-width:460px){
  .section__block__item-wrapper{
    flex-wrap: wrap;
  }
  .block__item:nth-child(1){
    width: 100%;
  }
  .block__item:nth-child(2){
    width: 100%;
  }
  .section__block__item .text_items_width{
    height:40%;
    }
    .block__item .block__text:nth-child(1){
      display: none;
    }
    .block__item:nth-child(2) .block__text:nth-child(1){
      display: none;
    }
    .block__item .block__text:nth-child(2){
      display: flex;
    }
    .block__item:nth-child(2) .block__text:nth-child(2){
      display: flex;
    }




}

