@import "vars";
@import "libs";
@import "fonts";
*{
  padding: 0;
  margin: 0;
}
body{
  font-family:'ProxinaNova';
  overflow-x: hidden;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.header{
  background-repeat: no-repeat;
  height:797px;
}
//slider----------------
.header_slider{
  position: relative;
}
//arrows-slider
.header_slider .slick-arrow{
  position: absolute;
  top:55%;
  font-size: 0;
  width:26px;
  height: 41px;
  border: none;
  outline: none;
}
.header_slider .slick-arrow.slick-prev{
  z-index:1;
  left:390px;
  background: url(../img/arrow-left.png) 0 0 / 100% no-repeat;
}
.header_slider .slick-arrow.slick-next{
  left: 595px;
  background: url(../img/arrow-right.png) 0 0 / 100% no-repeat;
}
//dots-slider
.header_slider .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:55.8%;
  left: 447px;
}
.header_slider .slick-dots li{
  list-style-type: none;
  margin: 0 7px;
}
.header_slider .slick-dots button{
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  border: 2px solid white;
}
//active dots
.header_slider .slick-dots li.slick-active button{
  background-color:white;
}
.slider_bg{
  position: relative;
  &::before{
    content: '';
    clip-path: polygon(0% 0%, 0% 0, 41.5% 0%, 0% 586%);
    background-color: #00000080;
    height:520px;
    width: 100%;
    position: absolute;
  }
}
//slider------------end----------
// header top title--------------
.container{
  max-width: 1171px;
  margin: 0 auto;
}
.header__item{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 7px;
  padding-bottom: 4px;
  .header__title{
   padding-right: 400px;
   font-size: 13px;
    text-transform: uppercase;
    color:#5F5F5F;
    line-height: 1.3;
  }
  .logo{
    font-size: 30px;
    letter-spacing: 11px;
    a{
      color: #040404;
    } 
  }
  .header__tel{
    font-size: 35px;
    font-family: 'Proxima Nova Bold';
    padding-left: 10px;
    line-height: 1.3;
    padding-top: 2px;
  }
  .btn{
    color: #ffffff;
    border:none;
    padding: 8px;
    padding: 8px 12px;
    border-radius: 5px;
    background: linear-gradient(#FB6B4F,#FD4E5A );
    font-size: 13px;
    margin-right: 8px;
  }
}
//menu------------------------------
.menu-bg_shadow{
  background: rgba(0, 0, 0, 0.664);
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header__menu{
 position: relative;
 width: 100%;
}
.menu{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
  font-size: 14px;
  text-transform: uppercase;
  li{
    margin-left: 25px;
    letter-spacing: 1px;
  &:nth-child(5){
    a::after{
      opacity: 0;
      }
    }
  }
  a{
    color: white;
    display: inline-block;
    position: relative;
    &::after{
      content: "";
      height: 16px;
      width: 1px;
      background-color: white;
      position: absolute;
     margin-left: 64px;
     cursor: auto;
    }
  }   
}
//menu---------------end---------------
//gamburger menu-----------------------
.hamburger-menu{
  display: none;
}
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width:100%;
  height:100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color:#000000e6;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  overflow: auto;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #8e8282;
  font-family: 'ProxinaNova', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
// .menu__item:hover {
//   background-color: #CFD8DC;
// }
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
//gamburger menu end---------------------
.product{
  padding-top: 2px;
  margin-left: -2px;
  margin-bottom: 124px;
  position: absolute;
  top: 70px;
  left: 368px;
  &::after{
    content: '';
    width: 3px;
    height: 183px;
    background-color: #FFFFFF;
    position: absolute;
    transform:skewX(-16deg);
   transform-origin:100%;
   top:1px;
   left: 4px;
  }
 }
.product__item{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'intro__bold';
  font-weight: bold;
  font-size: 90px;
  font-weight: bold;
  background-color: transparent;
  position: relative;
  width: 582px;
  height: 110px;
  margin-bottom: 10px;
  line-height: 1.3;
  margin-left: 25px;
  z-index: 1;
&::after{
  background-color: #d1d3d4c7;
  bottom: 0;
  content:'';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform:skewX(-16deg);
  transform-origin:100%;
  z-index: -1;
 }
}
.product__item-wrapper{
  display: flex;
  align-items: center;
  .product__item{
      // position: relative;
      font-family: 'Intro-Black-Italic';
      font-size: 36px;
      width: 276px;
      height: 63px;
      margin-left: 0;
      align-items: baseline;
      line-height: 1.3;
      &::before{
        content:'';
        position: absolute;
        width: 226px;
        height: 3px;
        background-color: #000000;
        bottom: 13px;
      }
      &:nth-child(2){
        margin-left: 10px;
        width: 180px;
        height: 50px;
        font-size: 20px;
        font-family: 'Intro-Bold';
        align-items: baseline;
        line-height: 1.2;
        color: #FFFFFF;
        &::after{
          content: '';
          background: linear-gradient(90deg, #00e104 0%, #0a730d 100%);
        }
        span{
          font-size: 43px;
          padding-left: 17px;
          padding-right: 15px;
        }
        sup{
          top: -0.3em;
          margin-right: 9px;
        }
        &::before{
          opacity: 0;
        }
    }
 }
}
//product-subtitle
.product__item-subtitle{
font-size: 19px;
font-family: 'Proxima Nova Bold';
color:#FFFFFF ;
text-transform: uppercase;
line-height: 1.2;
margin-top: 14px;
margin-left: 27px;
}
.btn_product{
  display: block;
  border-radius: 5px;
  border:2px solid #ffffff;
  color: #ffffff;
  padding: 11px 16px;
  background: linear-gradient(#FB6B4F,#FD4E5A );
  font-size: 23px;
  font-family: 'Proxima Nova Bold';
  margin-top: 18px;
  text-transform: uppercase;
}
//section info----------------
.section__wrapper{
  position: relative;
}
.section__info{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #fefdfdc4;
}
.info__wrapper{
  display: flex;
  justify-content: space-between;
  height: 280px;
  line-height: 1;
  .info__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    justify-content: start;
    padding-top: 20px;
  }
  .info__icon{
    padding-bottom:13px ;
  }
  .info__title{
    font-family: 'Proxima Nova Bold';
    font-size: 22px;
  }
  .info__subtitle{
    text-align: center;
    width: 91%;
    line-height: 1.3;
    padding-top: 8px;
  }
}
.nozindex{
  z-index:-1!important;
}
@import "media";
