@font-face {
    font-family: 'Micra';
    src: url('../fonts/Micra-Bold-my2.woff2') format('woff2'),
        url('../Micra-Bold-my2.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Micra';
    src: url('../fonts/Micra-Bold-my2.woff2') format('woff2'),
        url('../fonts/Micra-Bold-my2.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


